body {
  margin: 0;
}
.container {
  max-width: 50%;
  margin: 0 auto;
}
.main-heading {
  font-size: 3rem;
}
.text {
  font-size: 1.4rem;
  font-weight: bold;
  color: blue;
}

.text:hover {
  color: black;
  cursor: pointer;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.but-change {
  background-color: white;
  border: 0;
  cursor: pointer;
}
.img-description {
  display: none;
  margin: 0 auto;
}
.but-change:hover + .img-description,
.text:hover + .img-description {
  display: block;
}

@media (min-width: 820px) and (max-width: 1170px) {
  .container {
    max-width: 80%;
  }
  .main-heading {
    font-size: 2.4rem;
  }
  .text {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 568px) {
  .container {
    max-width: 100%;
  }
  .main-heading {
    font-size: 2rem;
  }
  .img-description {
    width: 280px;
    height: 300px;
  }
  .text {
    font-size: 1rem;
  }
}
