body {
  margin: 0;
}
.container {
  max-width: 50%;
  margin: 0 auto;
}
.main-heading {
  font-size: 3rem;
}
.text {
  font-size: 1.4rem;
  font-weight: bold;
  color: blue;
}

.text:hover {
  color: black;
  cursor: pointer;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.but-change {
  background-color: white;
  border: 0;
}
.img-description {
  display: block;
  margin: 0 auto;
}
.img-description {
  display: none;
}
.text:active + .img-description,
.but-change:active + .img-description {
  display: block;
}
